*{
	margin: 0;
	padding: 0;	
	border: 0;
	font-style: sans-serif,;
}

.principal{
	width: 100%;
	position: relative;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center; 
}
.menu{
	width: 100%;
	border: 2px solid bue ;
	background: #1D1F20;
}
header{
	width:100%;
	height: 70px; 
	border-top:  2px solid black;
	border-bottom: 2px solid black;
}
header nav{
	width:50%;
	max-width: 1000px;
	margin: 0px 20px 20px 725px;

}
.menu_nav{
	margin: 0;
	padding: 0;
	display: none;
}
.buscar{
	width: 100px;
	display: block;
	float: right;
}
.doss{
	border: 1px solid red;
	width: 90px;
	margin: -82px 0px 10px 500px;
}
.logo{
	width: 90px;
	margin: -80px 0px 15px 200px;
	border: 1px sold red;
	float: left;
}
.logo2  {
	margin-top: -8px;	
	width: 100%;
    height: 100%;
}
.texto-aguila{
	border: 1px sold red;
	width: 235px;
	color: 	#ff8000;
	margin: -100px 0px 10px 300px; 
}
header nav ul {
	overflow: hidden;
	list-style: none;
}
header nav ul li{
	float: left;
}
header nav ul li a{
	color: #fff;
	padding: 20px;
	display: block;
	text-decoration: none;
	font-weight: 600;
}
header nav ul li span 
{
	margin-right: 5px;
} 
header nav ul li a:hover{
	color: 	#ff8000;
	background: rgba(0,0,0,0.3);
	text-decoration: none;
}
section{
	margin-top:5px;
	padding: 20px;
}
.relleno{
	width: 80px;
	margin-top: 15px;
}
aside{
}

aside .menu-aside ul li a{
	text-decoration: none;
	color: black;

}
aside .menu-aside ul li{
	list-style-type: none;
	padding-left: 35px;
	margin-bottom: 5px;
	font-size: 15px;

}
footer{ 
	height: 185px;
	color: white;
	background: #1D1F20;
}
.ovalo{
	background: #1D1F20;
 	clip-path: polygon(100% 0, 100% 51%, 100% 100%, 0 67%, 22% 100%, 0 0);
}
.formulario {
	width: 100%;
}
.orange{
	background:  #ff7000;
}
.contenido{
	width: 100%;
	height: 25%;
	margin-top: -5%;
	margin-bottom: .3%;

}

	form{
	width: 75%;
	height:auto;
	margin: 0% 20% 10% 15%;
	padding: 5px 10px;
	box-sizing: border-box;
	border-radius: 8px;
	border: 1px soid white;
}
h2{
	color: white;
	text-align: center;
	margin: 0;
	font-size: 30px;
	margin-bottom: 20px;

}
.contenido form input, textarea{
	width: 100%;
	margin-top:  10px;
	padding: 5px;
	box-sizing: border-box;
	font-size: 12px;
	border: none;
	opacity: 1;
}
.contenido form input:hover{
	opacity: 0.5;
}
.contenido form textarea:hover{
	opacity: 0.5;
}
input{\border-radius: 10%;}
textarea{
	margin-top: 10px;
	min-height: 100px;
	max-height: 200px;
	max-width: 100%;
	min-width: 99%;



}
#boton{
	width: 10%;
	background: #1D1F20;
	color: #FFF;
	font-weight: bold;
	padding: 10px;
	border-radius: 10% 10% 0% 0%;
	float: right;

}
#boton:hover{
	cursor: pointer;}
#pie{
  column-count: ;
  text-align: justify;
}
.redesft{
	width: 15%;
	height: auto;}
.banner{
	width: 100%;
	height: 350px;
	margin:  auto;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	animation-name:banner;
	animation-duration:11s;
	transition: 1ms;
	animation-iteration-count: infinite;
	animation-direction: alternate; 
	margin: -12px 0px 5px 0px;
}
.container-slider{
	margin-top: 150px;
	position: relative;
	width: 95%;
	height: 300px;
	margin: auto;
	background: lavender;
	overflow: hidden;
	border: 10px solid white;
	border-radius: 5px;
	box-shadow: 0 5px 6px rgba(0,0,0,.9);
	box-sizing: border-box;
}
.container-slider .slider{
	position: relative;
	width: 400%;
	height: 100%;
	display: flex;
	animation: mover 10s infinite linear;
}
.container-slider .slider li{
	position: relative;
	width: 100%;
	height: 100%;
}
.container-slider .slider li img{
	position: absolute;
	width: 100%;
	height: 100%;

}
.preloader{
	position: relative;
	top:0px;
	margin: auto;
	width: 30px;
	height:30px;
	border: 5px solid #ff8000;
	border-radius: 50%;
	border-top: 12px solid  #ff8000;
	animation: cargar 0.01s infinite linear; 
}
.uno{
	box-shadow: 0 15px 16px rgba(0,0,0,.9);
	background: lavender;

}.reelevante{
	margin-bottom: 15px;
	height: 280px;
	z-index: 1;
}
 
 .main .reelevante .clip{
 	opacity: 0.7;
 }
 .main .reelevante .clip:hover{
 	opacity: 1;
 	transition: 1s;
 }
 .uno .main .noticias{
 	box-shadow: 0px 1px rgba(0,0,0,.9);
 	background: ;
}
 
/*--------------------------------------------<menu flotante>---------------------------------------------------------------*/
.flotante{
	 width: 140px; 
	 position: fixed;
	 z-index: 3;
}
.container-menu{
	float: left;
	max-width: 0px;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	transition: 300ms;}
.menu{
	display: flex;
	flex-direction: column;
	padding: 20px; 
	height:auto;
	background: #1D1F20;
}
.item{
	display: block;
	color: #fff;
	font-size: 18px;
	text-decoration: none;
	font-weight: 500;
	margin-bottom: 20px;
	position: relative;
	transform: translate(-30px);
	opacity: 0;
}	
.item:before{
	content: '';
	position: absolute;
	left: -20px;
	width: 0px;
	height: 100%;
	background:  #009de3;
	transition: all 300ms;
}
.item:hover:before{
	width: 6px;
}
.item:hover{
	color: orange;
	transition: all 1ms;
	text-decoration: none;
}
.toggle{
	display: inline-block;
	margin: 10px;
	padding: 12px 16px;
	font-weight: 600;
	background: #009de3;
	color: #fff;
	cursor: pointer;
	transition: opacity 300ms;
}
.toggle:hover{
	opacity: 0.8;
}
.toggle-check:checked ~ .container-menu{
	max-width: 500px;
}
.toggle-check:checked ~ .container-menu .item{
	opacity: 1;
	transition-delay: 200ms;
	transform: translate(0);
}
.color{
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}
.jugadores{
	opacity: 0.9;
	width: 150px;
	height:150px;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
.jugadores:hover{
	opacity: 1.1;
 	transition: 1s;}
/**.color section{
	width: 300px;
	height: 300px;
	border: 1px solid red;
}*/	
.jugadores .img-rounded{
	width: 100%;
	height: 100%;}
}
.jugadores .btn-mas span a {
	width: 50px;
	height: 25px;
	border: 1px solid red;
	background: #009de3; 
	text-decoration:none;
	font-weight: bold;

}
/*-----------------------------------------------keyframes---------------------------------------------------------------------*/

@keyframes mover{ 
0% , 20%{
	margin-left: 0px;
	}
	25%, 45%{
		margin-left: -100%;
	} 
	50%,70%{
		margin-left: -200%;
	}
	75%,100%{
		margin-left: 300%;
	}

}
@keyframes cargar{
	from{
		transform:  rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}
@keyframes banner{
	0%,30%{
		background-image: url(img/banner.jpg);
	}
	35%,65%{
		background-image: url(img/banner.jpg);
	}
	70%, 100%{
		background-image: url(img/banner.jpg);
	}
}
/*-----------------------------------------------MEDIA SCREEN------------------------------------------------------------------*/
@media screen and (min-width:0px) and (max-width:800px) {
	.flotante{display: none;}
	header {
		width: 100%;
	}
	header nav{
		width: 100%;
		height: 100%;
		left: -100%;
		margin: 0;
		vertical-align: top;	
		position: fixed;
		margin-top: -5px;
		background: rgba(0,0,0,0.5);
		z-index: 2;
	}
	header nav ul li {
		display: block;
		float: none;
		border-bottom: 1px solid rgba(255,255,255,.5);
	}
	.menu{
			border: none;
			margin: 0 0 0 0;
	}
	.logo{
		display: none;	
	}
	/*.menu{
	width: 100%;
	background: rgba(0,0,0,0.6);
	border:2px solid red;
	position: fixed;
	margin-bottom: 150px;*/
	.menu_nav{
		display: block;
		width: 100%;
		background: ;
	}
	.menu_nav span{
		float: right;
	}
	.menu_nav .btn_menu{
		display: block;
		padding:20px;
		background: rgba(0,0,0,0.7);
		text-decoration: none;
		font-weight: bold;
		font-size: 25px;
		-webkit-box-sizing: border-box ;
		-moz-box-sizing: border-box ;
		-o-box-sizing: border-box ;
	}
	header nav ul li a:hover{
	background: rgba(0,0,0,0.6);
}
.container{
	margin-top: 0;
	background: lavender;
}

.relleno{
	width: 80px;
	margin-top: 0px;
}
.container-slider{
	margin-top: 500px;
	position: relative;
	width: 10%;
	height: 400px;
	margin: auto;
	background: red;
	overflow: hidden;
	z-index:-1;
}

.banner{
	margin-top:0px;
	border: 1px solid red;
	width: 100%;
	height: 200px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	transition: 3s;

}
.jugadores{
	text-align: center;
	margin: auto;
}
	.texto-aguila{
	font-weight: normal;
	width: 235px;
	color: 	#ff8000;
	margin: -70px 0px 0px 100px; 
	font-size: 12px;
	}
.ovalo{
	background: #1D1F20;
 	clip-path: polygon(100% 0, 100% 51%, 100% 100%, 0 67%, 22% 100%, 0 0);
}
.formulario {
	width: 100%;
}
.orange{
	background:  #ff7000;
}
.contenido{
	width: 100%;
	height: 25%;
	margin-top: -5%;
	margin-bottom: .3%;

}

	form{
	width: 50%;
	height:auto;
	margin: 0% 20% 10% 15%;
	padding: 5px 10px;
	box-sizing: border-box;
	border-radius: 8px;
	border: 1px soid white;
}
h2{
	color: white;
	text-align: center;
	margin: 0;
	font-size: 30px;
	margin-bottom: 20px;

}
.contenido form input, textarea{
	width: 75%;
	margin-top:  10px;
	padding: 5px;
	box-sizing: border-box;
	font-size: 12px;
	border: none;
	opacity: 1;
}
.contenido form input:hover{
	opacity: 0.5;
}
.contenido form textarea:hover{
	opacity: 0.5;}
textarea{
	width: 75%;
	margin-top: 100px;
	min-height: 100px;
	max-height: 200px;
	max-width: 100%;
	min-width: 75%;



}
#boton{
	width: 10%;
	background: #1D1F20;
	color: #FFF;
	font-weight: bold;
	padding: 10px;
	border-radius: 10% 10% 0% 0%;
	float: right;

}
#boton:hover{
	cursor: pointer;}




/*nav,ul,li,a {
	list-style-type: none;
}
nav li{
	line-height: 2.5em;
	text-decoration: none;
}
nav a
{
	color: #ddd;
	display: block;
	padding: 0 2.5em;
	text-decoration: none;
}
nav a:hover{
	background: rgb(0,0,0,0.5);
}
nav>ul{
	background-color: #333;
	width: 100%;
	overflow: hidden;
}
nav>ul>li{
	float: left;
}
nav>ul>li>ul{
	position: absolute;
	display: none;	
}
nav>ul>li:hover>ul{
	display: block;
}
nav>ul>li>ul>li{
	background-color: #222;}
  /*-------------------------------------------------tercer nivel------------------------------------------------*/
/*nav>ul>li>ul>li>ul{
	position: relative;
	display: none;	
}
nav>ul>li>ul>li:hover>ul{
	display: block;
	width: 175px;
	float: left;
	top: -40px;
	position: absolute;
	float: left;
	top: 440px;
}
nav>ul>li>ul>li>ul{
	right:-175px;
	float: right;
	text-transform: 10px;
	background-color:#222;}
footer{
	border: 1px solid blue;
	padding-bottom: 5%;
}